*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 13px;
}

h1 {
  font-size: 3.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.tt-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.tt-name-1 {
  float: left;
  width: 33%;
  background: #ebf2fb;
  text-align: center;
  margin: 3em;
  padding: 2em;
  border: 3px solid #153975;
  border-radius: 6px;
}

.tt-name-2 {
  float: left;
  width: 33%;
  background: #ebf2fb;
  text-align: center;
  margin: 3em;
  padding: 2em;
  border: 3px solid #153975;
  border-radius: 6px;
}

.tt-name-3 {
  float: left;
  width: 33%;
  background: #ebf2fb;
  text-align: center;
  margin: 3em;
  padding: 2em;
  border: 3px solid #153975;
  border-radius: 6px;
}

.tt-name-4 {
  float: left;
  width: 33%;
  background: #ebf2fb;
  text-align: center;
  margin: 3em;
  padding: 2em;
  border: 3px solid #153975;
  border-radius: 6px;
}

#Form-Freundschaftsanfrage {
  position: relative;
  display: flex;
  justify-content: center;
}

.tt-container-img {
}
#Input-Field {
  display: block;
  margin-bottom: 0.7rem;
}

.tt-content1 {
  padding-bottom: 1.5rem;
}
